.signup {
    width: 97%;
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    display: flex;
    /* border: 0.2rem solid #476a31; */
}

.signup-form-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.signup-title {
    font-size: 4rem;
}

.signup-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.signup-btn {
    margin-top: 2rem;
    cursor: pointer;

}

.signup-form-aside {
    width: 50%;
    height: 100%;
    background-color: #476a31;
}