.header {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left span {
    color: #476a31;
}

.signin-link {
    padding: 0.5rem 1rem;
    border: none;
    text-decoration: none;
    color: #ffffff;
    background-color: #476a31;
    cursor: pointer;
}

.header-right {
    position: relative;
    color: #476a31;
}

.user {
    cursor: pointer;
}

@media only screen and (max-width: 500px) {
    .header-left {
        display: none;
    }
}
