.header {
    min-height: 6rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left span {
    color: #476a31;
}

.header-right {
    position: relative;
    color: #476a31;
}

.user {
    width: 4rem;
    height: 4rem;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #476a31;
    color: #ffffff;
    cursor: pointer;
}

@media only screen and (max-width: 500px) {
    .header-left {
        display: none;
    }
}
