.navbar {
    min-height: 6rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #476a31;
}

.navbar-right {
    display: flex;
    gap: 1rem;
}

.navbar-right a {
    text-decoration: none;
    color: #FFFFFF;
}