@import "./Variables.scss";

.instructions {
    padding: 1rem;
    font-size: 1.6rem;
    font-style: italic;
    background-color: $greenColor;
    color: $whiteColor;
}

.hide {
    display: none;
}

.signup-container,
.signin-container {
    width: 100%;
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    font-size: 2.2rem;
    background: linear-gradient(to right, $greenColor 50%, $whiteColor 50%);
}

.signup-form-container,
.signin-form-container {
    width: 50%;
    margin-left: auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.signup-title,
.signin-title {
    text-align: center;
    font-size: 5rem;
    color: $darkGreenColor;
}

.signup-form,
.signin-form {
    @include basicForm;
}

.signup-form {
    .input-container {
        position: relative;
    }
    .svg-container {
        height: calc(100% - 0.4rem);
        width: 3rem;
        position: absolute;
        top: 0.2rem;
        right: 0.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $whiteColor;
    }
    .svg-container svg {
        padding: 0 0.5rem;
        z-index: 10;
    }
    .valid {
        color: $greenColor;
    }
    .invalid {
        color: $redColor;
    }
    input {
        width: 100%;
        padding-right: 3rem; 
    }
}

.go-to-signup,
.go-to-signin {
    color: $darkGreenColor;
}

.go-to-signup a,
.go-to-signin a {
    text-decoration: none;
    color: $pinkColor;
}

@media only screen and (max-width: 768px) {
    .signup-container,
    .signin-container {
        background: $whiteColor;
    }

    .signup-form-container,
    .signin-form-container {
        width: 100%;
    }
    .signup-title,
    .signin-title {
        font-size: 4rem;
    }
    .go-to-signin,
    .go-to-signup {
        align-self: center;
        a {
            display: block;
            text-align: center;
        }
    }
}

@media only screen and (max-width: 600px) {
    .signup-form-container,
    .signin-form-container {
        font-size: 2rem;
    }
    .signup-title,
    .signin-title {
        font-size: 3rem;
    }
    .signup-form label,
    .signup-form input,
    .signup-form textarea,
    .signup-form button,
    .signin-form label,
    .signin-form input,
    .signin-form textarea,
    .signin-form button {
        font-size: 2rem;
    }
}