@import "./Variables.scss";

.book-page {
    width: 100%;
    padding: 10rem;
    position: relative;
}

.book-page-container {
    width: 100%;
    display: grid;
    grid-template-areas:
        "image info"
        "image info"
        "image description"
        "image description";
    grid-template-columns: 25rem 1fr;
    gap: 3rem;
    color: $darkGreenColor;
}

.book-page-image-container {
    grid-area: image;
    img {
        width: 100%;
        position: -webkit-sticky;
        position: sticky;
        top: 18rem;
    }
}

.book-page-info {
    padding-left: 5rem;
    grid-area: info;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    font-size: 2.5rem;
}

.book-page-title {
    font-size: 4.5rem;
}

.book-page-description {
    width: 100%;
    padding-left: 5rem;
    grid-area: description;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    font-size: 2.5rem;
}

.description-title {
    font-size: 3.5rem;
}

.book-page-buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.book-page-update-button,
.book-page-remove-button {
    width: 50%;
    padding: 0.8rem 1rem;
    border: none;
    font-size: 2.5rem;
    font-weight: 700;
    color: $whiteColor;
    cursor: pointer;
}

.book-page-update-button {
    background-color: $greenColor;
}

.book-page-remove-button {
    background-color: $redColor;
}

.book-page-update-button:hover {
    background-color: $darkGreenColor;
}

.book-page-remove-button:hover {
    background-color: $darkRedColor;
}

@media only screen and (max-width: 992px) {
    .book-page {
        padding: 8rem;
    }
    .book-page-container {
        grid-template-areas:
            "image info"
            "description description"
            "description description";
    }
    .book-page-image-container {
        img {
            position: static;
        }
    }
    .book-page-info,
    .book-page-description {
        padding-left: 0;
        font-size: 2.2rem;
    }
    .book-page-title {
        font-size: 4rem;
    }
    .description-title {
        font-size: 3.1rem;
    }
}

@media only screen and (max-width: 768px) {
    .book-page {
        padding: 6rem;
    }
    .book-page-container {
        grid-template-columns: 23rem 1fr;
        gap: 2rem;
    }
    .book-page-info,
    .book-page-description {
        font-size: 2.1rem;
        gap: 1rem;
    }
    .book-page-title {
        font-size: 3.5rem;
    }
    .description-title {
        font-size: 2.7rem;
    }
    .book-page-update-button,
    .book-page-remove-button {
        font-size: 2.3rem;
    }
}

@media only screen and (max-width: 600px) {
    .book-page {
        padding: 4rem;
    }
    .book-page-container {
        grid-template-columns: 20rem 1fr;
        
    }
    .book-page-title {
        font-size: 2.5rem;
    }
    .book-page-info,
    .book-page-description {
        font-size: 1.8rem;
    }
    .description-title {
        font-size: 2rem;
    }
    .book-page-update-button,
    .book-page-remove-button {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 450px) {
    .book-page {
        padding: 2rem;
    }
    .book-page-container {
        grid-template-areas:
            "image"
            "info"
            "description";
        grid-template-columns: 1fr;
    }
    .book-page-image-container {
        display: flex;
        justify-content: center;
        img {
            width: 70%;
        }
    }
    .book-page-info,
    .book-page-description {
        gap: 2rem;
    }
    .book-page-title,
    .author, 
    .book-page-category,
    .book-page-pages,
    .description-title {
        text-align: center;
    }
}