@import "./Variables.scss";

.book {
    width: 96%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: $darkGreenColor;
    box-shadow: 0rem 0rem 1rem 0.1rem $greenColor;

    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1.8rem;
    }

    a {
        text-decoration: none;
        font-size: 1.6rem;
        color: $pinkColor;
    }
}

