@import "./Variables.scss";

.update-password-container {
    @include update-user-container;
}

.update-password-form {
    @include update-user-form;
}

.update-password-form {
    .input-container {
        position: relative;
    }
    .svg-container {
        height: calc(100% - 0.4rem);
        width: 4rem;
        position: absolute;
        top: 0.2rem;
        right: 0.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $whiteColor;
    }
    .svg-container svg {
        padding: 0 0.5rem;
        z-index: 10;
    }
    .valid {
        color: $greenColor;
    }
    .invalid {
        color: $redColor;
    }
    input {
        width: 100%;
        padding-right: 4rem; 
    }
    .instructions {
        padding: 1rem;
        font-size: 1.6rem;
        font-style: italic;
        background-color: $greenColor;
        color: $whiteColor;
    }
    .hide {
        display: none;
    }
}

.update-password-buttons {
    @include update-user-button-container;
}

.update-password-go-back,
.update-password-update {
    @include update-user-button;
}

.update-password-go-back:hover,
.update-password-update:hover {
    background-color: $darkGreenColor;
}

@media only screen and (max-width: 600px) {
    .update-password-form label,
    .update-password-form input,
    .update-password-go-back,
    .update-password-update {
        font-size: 2rem;
    }
}