@import "./Variables.scss";

.home {
    width: 100%;
    min-height: 100%;
    padding: 2rem;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    gap: 2rem;
}

.no-books {
    text-align: center;
    font-size: 4rem;
    color: $darkGreenColor;
}

@media screen and (max-width: 450px) {
    .home {
        padding: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        gap: 1rem;
    }
}