@import "./Variables.scss";

.landing-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    background: linear-gradient(
        to right,
        $greenColor 50%,
        $lightGreenColor 50%
    );
}

.landing-container-left {
    max-width: 50rem;
    margin-left: auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    color: $whiteColor;
}

.landing-headline {
    font-size: 5rem;
}

.landing-text {
    font-size: 2.2rem;
}

.signup-link {
    text-decoration: none;
    color: $pinkColor;
}

.landing-container-right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        width: 95vmin;
        min-width: 50rem;
        object-fit: contain;
    }
}

@media only screen and (max-width: 992px) {
    .landing-container {
        flex-direction: column;
    }
    .landing-container-left {
        width: 100%;
        max-width: 70rem;
        margin: 0 auto;
        padding: 0 2rem;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        text-align: center;
    }

    .landing-headline {
        margin-top: 4rem;
    }
    .landing-container-right {
        width: 100%;
        img {
            width: 50vmin;
            min-width: 24rem;
            margin: 1rem auto;
        }
    }
}

@media only screen and (max-width: 768px) {
    .landing-headline {
        font-size: 4rem;
        margin-top: 2rem;
    }
    .landing-text {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 450px) {
    .landing-container-left {
        gap: 1rem;
    }
    .landing-headline {
        font-size: 3rem;
    }
    .landing-text {
        font-size: 1.7rem;
    }
}