@import "./Variables.scss";

.new-book {
    width: 100%;
    padding: 2rem;
    position: relative;
    // display: flex;
    // justify-content: center;
}

.new-book-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.new-book-form {
    @include basicForm;
}

@media only screen and (max-width: 600px) {
    .new-book-form label,
    .new-book-form input,
    .new-book-form textarea,
    .new-book-form button {
        font-size: 2rem;
    }
}