@import "./Variables.scss";

.profile-container {
    width: 100%;
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-align: center;
    color: $darkGreenColor;
}

.profile-title {
    font-size: 5rem;
}

.profile-text {
    font-size: 2.2rem;
}

.profile-link {
    text-decoration: none;
    font-size: 2.2rem;
    color: $pinkColor;
}

@media only screen and (max-width: 450px) {
    .profile-title {
        font-size: 3rem;
    }
    
    .profile-text {
        font-size: 2rem;
    }
    
    .profile-link {
        font-size: 2rem;
    }
}