//Colors
$whiteColor: #ffffff;
$lightGreenColor: #639d40;
$greenColor: #476a31;
$darkGreenColor: #2b401e;
$pinkColor: #ff69b4;
$redColor: #a90000;
$darkRedColor: #700000;


//mixins
@mixin basicForm {
    width: 100%;
    max-width: 45rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    label {
        font-size: 2.2rem;
        color: $darkGreenColor;
    }

    input {
        padding: 0.8rem 1rem;
        border: 2px solid $greenColor;
        outline: none;
        color: $darkGreenColor;
        font-size: 2.2rem;
    }

    input::placeholder {
        color: $darkGreenColor;
        opacity: 0.5;
    }

    textarea {
        padding: 0.8rem 1rem;
        border: 2px solid $greenColor;
        outline: none;
        color: $darkGreenColor;
        font-size: 2.2rem;
    }

    textarea::placeholder {
        color: $darkGreenColor;
        opacity: 0.5;
    }

    button {
        margin-top: 2rem;
        padding: 0.8rem 1rem;
        border: none;
        font-size: 2.2rem;
        font-weight: 700;
        background-color: $greenColor;
        color: $whiteColor;
        cursor: pointer;
    }

    button:hover {
        background-color: $darkGreenColor;
    }
}

@mixin update-user-container {
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    font-size: 2.2rem;
    color: $greenColor;
}

@mixin update-user-form {
    width: 100%;
    max-width: 45rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    input {
        padding: 0.8rem 1rem;
        border: 2px solid $greenColor;
        outline: none;
        color: $darkGreenColor;
        font-size: 2.2rem;
    }
}

@mixin update-user-button-container {
    width: 100%;
    display: flex;
    gap: 1rem;
}

@mixin update-user-button {
    width: 100%;
    margin-top: 2rem;
    padding: 0.8rem 1rem;
    border: none;
    font-size: 2.2rem;
    font-weight: 700;
    background-color: $greenColor;
    color: $whiteColor;
    cursor: pointer;
}
